---
import Anchor from "./Anchor.astro";

type NavItems = {
  title: string;
  url: string;
  openInNewTab?: boolean;
};

const { pathname } = new URL(Astro.request.url);
const isActive = (url: string) => {
  const currentPath = pathname.split("/")[1];
  const targetPath = url.split("/")[1];
  return currentPath === targetPath;
};

const navItems: Array<NavItems> = [{ title: "Projects", url: "/projects" }];
---

<header
  id="main-header"
  class:list={[
    "left-0 top-0 z-50 mt-0 h-[60px] max-w-5xl px-6 md:mt-4 lg:px-3",
    "mx-auto flex items-center justify-between",
    "mb-6",
  ]}
>
  <div class="relative select-none">
    <Anchor aria-label="home">
      <div
        class:list={[
          "group",
          "relative flex items-center gap-1",
          "font-black leading-none",
          "transition-all duration-300",
        ]}
      >
        <div
          class:list={[
            "flex justify-center gap-1.5",
            "transform transition-all duration-500",
            "opacity-100",
            "group-hover:opacity-0 group-hover:-translate-y-2",
          ]}
        >
          <div class="text-[2.6rem]">&#x1F431</div>
        </div>

        <div
          class:list={[
            "absolute flex justify-center gap-1.5",
            "transform transition-all duration-1000",
            "opacity-0 translate-y-2",
            "group-hover:opacity-100 group-hover:translate-y-0",
          ]}
        >
          <div class="text-[2.6rem] scale-x-[-1]">&#x1F408;</div>
        </div>
      </div>
    </Anchor>
  </div>

  <nav class="flex items-center gap-2 relative">
    <!-- Mobile Menu Button -->
    <!-- <button
      id="menu-toggle"
      class:list={[
        "flex md:hidden p-2 rounded-md",
        "hover:bg-gray-200 dark:hover:bg-gray-700",
        "transition",
      ]}
      aria-label="Toggle Menu"
      type="button"
    >
      <svg
        class="h-6 w-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button> -->

    <!-- Navigation Links -->
    <div
      id="menu"
      class:list={[
        // "hidden",
        "flex-col select-none md:flex md:flex-row md:items-center",
        "gap-y-2 md:gap-x-1.5 md:gap-y-0",
      ]}
    >
      {
        navItems.map(({ title, url }) => (
          <Anchor
            href={url}
            aria-label={title}
            class:list={[
              "relative flex h-9 shrink-0 items-center rounded-md px-2.5 py-2",
              "font-semibold capitalize transition-colors",
              "md:transition-all md:duration-300 md:hover:scale-105",
              "hover:md:bg-violet-200 dark:hover:md:bg-violet-800",
              isActive(url)
                ? "bg-violet-200 dark:bg-violet-800"
                : "hover:bg-gray-200 dark:hover:bg-gray-700",
              isActive(url)
                ? "text-violet-600 dark:text-violet-400"
                : "text-gray-800 dark:text-gray-200",
            ]}
          >
            {title}
          </Anchor>
        ))
      }
    </div>
  </nav>
</header>
